.ntf-banner {
    color: #fff !important;
    width: 100% !important;
}

.ntf-banner * {
    justify-self: right !important;
    align-self: right !important;
    size-adjust: right !important;
}

.ntf-banner.green {
    background-color: darkgreen !important;
    color: #fff !important;
}

.ntf-banner.red {
    background-color: red !important;
    color: #fff !important;
}

.ntf-banner.yellow {
    background-color: yellow !important;
    color: #fff !important;
}

.ntf-banner.blue {
    background-color: blue !important;
    color: #fff !important;
}

.ntf-banner.hidden {
    overflow: hidden !important;
    visibility: hidden !important;
    height: 0 !important;
}

/* */

.power-script {
    position: relative;
    font-size: 0.6em;
    vertical-align: top;
}

.power-script .circle {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2em 0.4em;
    display: inline-block;
    text-align: center;
    line-height: 1;
    position: absolute;
    transform: translate(-50%, -50%);
}